* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    width: 1600px;
    height: 75px;
    background: black;
    margin: 0 auto;
}

.conteiner {
    width: 1140px;
    margin: 0 auto;
}

.head_nav {
    display: flex;
    justify-content: space-between;
}

.left_butt_head {
    width: 110px;
    display: flex;
    justify-content: space-between;
}

.img_logo {
    width: 44px;
    height: 38px;
    margin-top: 18px;
}

.lupaInHead {
    width: 26.002px;
    height: 26.792px;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 28px;
}

.right_butt_head {
    width: 160px;
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}

.hiddenMedia {
    background: none;
    border: none;
    cursor: pointer;
}

.burger{
    background: none;
    border: none;
    cursor: pointer;
}
.main_content {
    width: 1600px;
    height: 764px;
    background: #F1E4E6;
    margin: 0 auto;
}

.main_men {
    width: 800.58px;
    height: 764px;
}

.content_block {
    display: flex;
    align-items: center;
}

.promo__title {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.promo__heading {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.promo__heading span {
    color: #F16D7F;
}

.first_card {
    margin-top: 65px;
    margin-bottom: 96px;
}

.cardsInFirstSec {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.mainContText {
    width: 421px;
    height: 93.099px;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.textFirstCard {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
    margin-left: 100px;
}

.textFirstCard h2 {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.textFirstCard h1 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card1 img {
    filter: brightness(30%);
}

.bigCardInfirst {
    margin-top: 30px;
}

.bigCardInfirst img {
    filter: brightness(15%);
}

.textInBigCard {
    font-family: Lato;
    font-style: normal;
    line-height: normal;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -115px;
    margin-left: 495px;
}

.textInBigCard p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.textInBigCard h1 {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}
.titleSecCard{
    text-align: center;
    margin-bottom: 48px;
}

.titleSecCard h1 {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.titleSecCard p {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.card2{
    background: #F8F8F8;
    padding-bottom: 24px;
}

.card2 img {
    width: 360px;
    height: 420px;
    margin-bottom: 25px;
}

.card2 h1 {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
    padding-left: 16px;
}

.card2 p {
    width: 314.743px;
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 18px;
    padding-left: 16px;
}

.card2 h2 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 16px;
}
.secondCards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-bottom: 48px;
}
.butt2{
    display: flex;
    justify-content: center;
}
.batt button{
    font-family: Lato;
}
.butt2 button{
    width: 212px;
    height: 48px;
    background: none;
    border-color: #FF6A6A;
    color: #F26376;
    font-size: 16px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 60px;
    cursor: pointer;
}
.butt2 .butt:hover{
    background: #FF6A6A;
    color: white;
    border: none;
}
.fird_card{
    width: 1600px;
    height: 341px;
    background: #222224;
    margin: 0 auto;
}

.firdCards{
    display: flex;
    justify-content: space-between;
    padding-top: 104px;
}
.fCard{
    text-align: center;
}
.fCard img {
    height: 40px;
}
.fCard h3{
    color: #FBFBFB;
    font-family: Lato;
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 19px;
    margin-bottom: 16px;
}
.fCard p{
    width: 360px;
    color: #FBFBFB;
    font-family: Lato;
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

/* .subscribe{
    background-image:url(img/backgroindInSubscribe.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 448px;
    filter: contrast(50%);
    margin: 0 auto;
} */
.backImg{
    width: 1600px;
    margin: 0 auto;
    height: 448px;
    filter: opacity(50%);
}
.subsConteiner{
    position: relative;
    margin-top: -448px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 86px;
}
.subsConteiner .subsCard2{
    padding-top: 64px;
}
.subsCard img{
    width: 144.578px;
    height: 150.361px;
}
.subsCard h4{
    width: 359.449px;
    height: 99px;
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 32px;
}
.subsCard2 h2{
    color: #222224;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;
}
.subsCard2 h4{
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;
}
.searcher{
    display: flex;
    margin-top: 32px;
}
.searcher input{
    border: none;
    border-radius: 25px 0 0 25px;
    width: 256px;
    height: 49px;
    background-color: #E1E1E1;;
}
.searcher button{
    width: 100px;
    height: 49px;
    border: none;
    background-color: #F16D7F;
    border-radius: 0 25px 25px 0;
}
footer{
    background: #222224;
    width: 1600px;
    height: 79px;
    margin: 0 auto;
    margin-top: 78px;
}
.foot{
    display: flex;
    justify-content: space-between;
}
.foot p{
    color: #FBFBFB;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 30px;
}
.social{
    display: flex;
    justify-content: space-between;
    width: 148px;
    height: 32px;
    padding-top: 24px;
}
.socialIcon{
    width: 16px;
    height: 16px;
    background-color: white;
    padding: 8px 8px 8px 8px;
}
.socialIcon:hover {
    fill: white;
    background: #F16D7F
}
@media (max-width: 768px){
    header {
        width: 768px;
    }
    .main_content{
        width: 768px;
        height: 367.567px;
    }
    .conteiner{
        width: 734px;
    }
    .main_men{
        width: 386px;
        height: 368px;
    }
    .card1 img{
        width: 231.973px;
        height: 167.617px;
    }
    .bigCardInfirst img{
        width: 734.581px;
        height: 116.043px;
    }
    .textFirstCard{
        margin-left: 40px;
        margin-top: -120px;
    }
    .textInBigCard{
        margin-left: 285px;
        margin-top: -85px;
    }
    .secondCards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 16px;
    }
    .mainContText{
        width: 283px;
        height: 92px;
        border-left: 12px solid #F16D7F;
        padding-left: 16px;
    }
    .promo__title{
        font-size: 44px;
    }
    .promo__heading{
        font-size: 24px;
    }
    .fird_card{
        width: 768px;
        height: 610px;
        text-align: center;
    }
    .firdCards{
        display: flex;
        flex-direction: column;
        padding-top: 48px;
    }
    .fCard p{
        text-align: center;
        margin-left: 180px; 
    }
    .padd{
        margin-bottom: 48px;
    }
    .subsConteiner{
        margin-top: -448px;
        height: 693px;
        display: flex;
        flex-direction: column;
    }
    .backImg{
        width: 768px;
        margin: 0 auto;
        height: 683px;
    }
    .backImg img{
        width: 768px;
        margin: 0 auto;
        height: 693px;
    }
    .subsConteiner{
        margin-top: -768px;
        display: flex;
    }
    .subsCard h4{
        margin-left: 180px;
    }
    .subsConteiner .subsCard2{
        padding-top: 0;
    }
    .searcher{
        margin-left: 180px;
    }
    footer{
        width: 768px;
        margin: 0;
    }
    .foot{
        margin-left: 32px;
        margin-right: 32px;
    }
}
@media (max-width: 375px){
    header{
        width: 375px;
    }
    .conteiner{
        width: 343px;
    }
    .hiddenMedia{
        display: none;
    }
    .right_butt_head{
        justify-content: flex-end;
    }
    .main_men{
        display: none;
    }
    .main_content{
        width: 375px;
        height: 363px;
    }
    .promo__title{
        font-size: 38px;
    }
    .promo__heading{
        font-size: 20px;
    }
    .mainContText{
        width: 236px;
        height: 66px;
        margin-left: 56px;
        margin-top: 148px;
    }
    .cardsInFirstSec{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr ;
        justify-items: center;
        gap: 19px;
    }
    .card1 img{
        width: 343px;
        height: 247px;
    }
    .textFirstCard{
        margin-left: 95px;
        margin-top: -140px;
    }
    .bigCardInfirst img{
        width: 343px;
        height: 111px;
    }
    .textInBigCard{
        margin-left: 90px;
    }
    .secondCards{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 16px;
    }
    .fird_card{
        width: 375px;
        height: 610px;
        text-align: center;
    }
    .firdCards{
        display: flex;
        flex-direction: column;
        padding-top: 48px;
    }
    .fCard p{
        text-align: center;
        margin-left: 0; 
        height: 32px;
    }
    .padd{
        margin-bottom: 48px;
    }
    .subsConteiner{
        margin-top: -660px;
        height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .backImg{
        width: 375px;
        height: 550px;
    }
    .backImg img{
        width: 375px;
        margin: 0 auto;
        height: 550px;
    }
    .subsCard img {
        padding-top: 109px;
        width: 138.153px;
        height: 143.679px;
    }
    .subsCard h4{
        margin-left: 0;
        font-size: 18px;
        width: 343px;
        height: 73px;
        font-weight: 400;
        margin-bottom: 59px;
    }
    .subsConteiner .subsCard2{
        padding-top: 0;
    }
    .searcher{
        margin-left: 0;
        padding-bottom: 109px;
    }
    footer{
        width: 375px;
        height: 143px;
        margin: 0;
    }
    .foot{
        margin-left: 32px;
        margin-right: 32px;
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 25px;
        text-align: center;
    }
    .social{
        text-align: center;
        margin-left: 110px;
    }
    .foot p{
        padding-top: 30px;
    }
}